# Virtual environment
**/.venv

# API
apikey.env

# Machine Learning Weights
*.pt
*.pth
*.safetensors

# Images
phase_00 - Setup & Tooling/part_01 - Dev Environment/image.png

# files
phase_00 - Setup & Tooling/part_03 - GPU Setup & Cloud/personal_readme.md
